

<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>
                <p>This is a test basis texts , This is a test basis texts, This is a test basis texts 
                    , This is a test basis texts, This is a test basis texts , This is a test basis texts </p>
                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>address</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="">Email</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+8800</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">FAQ's</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Useful Helplines</h3>
                <ul class="info">
                    <li><a href="">Help Line Number</a></li>
                    <li><a href="">Help Line Number</a></li>
                    <li><a href="">Help Line Number</a></li>
                    <li><a href="">Help Line Number</a></li>
                    <li><a href="">Help Line Number</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="" target="_top">Top</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-copy">
        
        <div class="container">                
            <p>CRIMOPEDIA.. All rights reserved | Design by <a href="https://www.facebook.com/samee95.bdrhy">Saika Chowdhury Samiha</a></p>
        </div>
    </div>
</div>